<a href="https://colab.research.google.com/github/sonstick/KNOU_Python-Programming/blob/main/%EC%B6%9C%EC%84%9D%EB%8C%80%EC%B2%B4%EA%B3%BC%EC%A0%9C%EB%AC%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

표 출력

In [ ]:
print("n", "     n**2", "   n**3")
print("===================")
n = 1
print(n, end = "")
print(format(n**2, ">9d"), end = "")
print(format(n**3, ">9d"))
n = 3
print(n, end = "")
print(format(n**2, ">9d"), end = "")
print(format(n**3, ">9d"))
n = 5
print(n, end = "")
print(format(n**2, ">9d"), end = "")
print(format(n**3, ">9d"))
n = 7
print(n, end = "")
print(format(n**2, ">9d"), end = "")
print(format(n**3, ">9d"))

n      n**2    n**3
===================
1        1        1
3        9       27
5       25      125
7       49      343

In [ ]:
def calc(n) :
    print(n, end = "")
    print(format(n**2, ">9d"), end = "")
    print(format(n**3, ">9d"))
print("n", "     n**2", "   n**3")
print("===================")
calc(1)
calc(3)
calc(5)
calc(7)

n      n**2    n**3
===================
1        1        1
3        9       27
5       25      125
7       49      343

In [ ]:
print("n", "    n**2", "   n**3")
print("===================")
for i in range(1, 8, 2) :
    print(format(i), end = "")    
    for j in range(1, 2) :
        print(format(i**2, ">9d"), end = "")
        print(format(i**3, ">9d"), end = "")
    print()

n      n**2    n**3
===================
1        1        1
3        9       27
5       25      125
7       49      343

성적 출력

In [ ]:
score = int(input("점수를 입력하세요: "))
if score <= 100 and score > 0:
    if score >= 90:
        print("A입니다.")
    elif score >=80:
        print("B입니다.")
    elif score >=70:
        print("C입니다.")
    elif score >=60:
        print("D입니다.")
    else:
        print("F입니다.")
else:
    print("잘못된 점수입니다.")

점수를 입력하세요: -3
잘못된 점수입니다.